.main-header {
    height: 100px;
    background-color: var(--clrPrimary-5);
    color: var(--clrPrimary6);
    grid-column: 2;
    border-bottom: 6px solid var(--clrPrimary-6);
    /* margin-block-end: 80px; */
}

.main-header .logo {
    font-family: eurofurence;

    font-size: 40px;

    font-weight: 400;
    letter-spacing: -0.02em;
    cursor: pointer;
}



/* .main-header .logo {
    font-family: inconsolata, monospace;
    font-size: 2.1428571em;
    color: var(--clrPrimary-1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
} */

.main-header .main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* vertical-align:middle; */
    text-transform: capitalize;
    letter-spacing: 0.05em;
    /* margin: auto; */
    /* text-align: center; */
    color: var(--clrPrimary6);
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.main-header .main-nav a:hover {
    color: var(--clrActive);
    border-bottom: 6px solid var(--clrActive);
}


.btn-toggle-menu {
    display: none;
    width: 33px;
    height: 33px;
    background-color: var(--clrPrimary5);
    border: 1px solid var(--clrPrimary-1);
    border-radius: 0.5em;
    margin-inline-end: 40px;

}

/* .main-header .main-nav a:hover {
    color: var(--clrPrimary-1);
    text-decoration: underline;
} */