.modal{
    display: none;
    position: fixed;
    background-color: var(--clrPrimary3);
    top: 30vh;
    left: 20vw;
    height:40vh;
    width: 60vw;
    /* border: 2px solid var(--clrPrimary-4); */
    padding: 20px;
    box-shadow: 0 0 20px;
    border-radius: 2em;
}

.modal .modal-btns{
    display: flex;
    width: 215px;
    justify-content: space-between;

}

.modal button{
    border: 2px solid var(--clrPrimary1);
    border-radius: 2em;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: var(--clrPrimary6);
    color: var(--clrPrimaryBase);
}

.modal button:hover::after {

    content: "\00a0\00a0→";
}

.modal button:hover {
    color: var(--clrActive);
    border: 2px solid var(--clrActive);

}

.modal>*{
    margin-block-end: 20px;
}

body.modal-open .modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}