.pagination {
    background-color: var(--clrPrimary6);
    height: 80px;
    border-top: 1px solid var(--clrPrimary2);
    /* padding: 70px 0; */
    /* justify-items: center; */
}
.pagination a{
    
    color: var(--clrPrimary-2);
    font-size: 18px;
    
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin-inline-start:1.6666667em ;
    margin-inline-end:1.6666667em ;
}